<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POMWithPageFactorySuite" thread-count="10" parallel="none">

	<parameter name="EnvURL" value="https://talentcentral.cebglobal.com/admin/login" />
	
	<test name="Test: Simple Login" enabled="true">
		<parameter name="username" value="automation.admin@shl.com"/>
		<parameter name="password" value="Shlonline@123"/>
		<classes>
			<class name="com.test.frameworks.POMWithPageFactory.tests.TestAdminLogin">
				<methods>
					<include name="testAdminLogin" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="Test: Login with constant Data Provider" enabled="false">
		<classes>
			<class name="com.test.frameworks.POMWithPageFactory.tests.TestAdminLogin">
				<methods>
					<include name="testAdminLoginWithConstDataProvider" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test name="Test: Login with excel Data Provider" enabled="false">
		<classes>
			<class name="com.test.frameworks.POMWithPageFactory.tests.TestAdminLogin">
				<methods>
					<include name="testAdminLoginWithDataProvider" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
